@model RKGems.Models.Polish

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Polish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolishId" />
            <div class="form-group">
                <label asp-for="PolishQuantity" class="control-label"></label>
                <input asp-for="PolishQuantity" class="form-control" />
                <span asp-validation-for="PolishQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolishWeight" class="control-label"></label>
                <input asp-for="PolishWeight" class="form-control" />
                <span asp-validation-for="PolishWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseId" class="control-label"></label>
                <select asp-for="PurchaseId" class="form-control" asp-items="ViewBag.PurchaseId"></select>
                <span asp-validation-for="PurchaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOfResult" class="control-label"></label>
                <select asp-for="IdOfResult" class="form-control" asp-items="ViewBag.IdOfResult"></select>
                <span asp-validation-for="IdOfResult" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>*@
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a asp-action="Index" class="btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
